# SQL Server
MSSQL_SA_PASSWORD=P3!xN9@Tk6!Qv2LmR
MSSQL_HOST_PORT=1433
MSSQL_PID=Developer
DB_NAME=AilexbaDev

# API (.NET)
DOTNET_STARTUP_PROJECT=alilexba_backend.csproj
API_HOST_PORT=5080
ASPNETCORE_ENVIRONMENT=Development

# Frontend (Next.js)
FRONTEND_HOST_PORT=3000
WATCHPACK_POLLING=true
CHOKIDAR_USEPOLLING=true
